body{
  margin:0;
  font-family:Arial;
  background:#0b132b;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.container{
  text-align:center;
}

button{
  padding:12px 22px;
  margin:8px;
  border:none;
  border-radius:10px;
  font-size:16px;
  cursor:pointer;
  background:#7b8cff;
  color:white;
  transition:.2s;
}

button:hover{
  transform:scale(1.05);
  background:#9aa7ff;
}

.board{
  display:grid;
  grid-template-columns:repeat(3,100px);
  gap:10px;
  margin:20px auto;
}

.cell{
  width:100px;
  height:100px;
  background:#1c2541;
  border-radius:15px;
  font-size:42px;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
}

.hidden{
  display:none;
}

.controls{
  margin-top:10px;
}
