body{
  margin:0;
  font-family:Arial;
  background:#020617;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.container{
  text-align:center;
}

button{
  padding:12px 22px;
  margin:8px;
  border:none;
  border-radius:10px;
  font-size:16px;
  cursor:pointer;
  background:#6366f1;
  color:white;
  transition:.2s;
}

button:hover{
  transform:scale(1.05);
  background:#818cf8;
}

.board{
  display:grid;
  grid-template-columns:repeat(3,100px);
  gap:12px;
  margin:20px auto;
}

.cell{
  width:100px;
  height:100px;
  background:#0f172a;
  border-radius:15px;
  font-size:42px;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  transition:.25s;
}

.cell:hover{
  background:#1e293b;
}

.hidden{
  display:none;
}

/* ✨ NEON WIN EFFECT */
.win{
  color:#00f7ff;
  background:#020617;
  box-shadow:
  0 0 10px #00f7ff,
  0 0 20px #00f7ff,
  0 0 40px #00f7ff,
  inset 0 0 10px #00f7ff;
  transform:scale(1.08);
}

.controls{
  margin-top:10px;
}
