body{
  text-align:center;
  font-family:Arial;
  background:#0b132b;
  color:white;
}

.board{
  display:grid;
  grid-template-columns:repeat(3,100px);
  gap:8px;
  justify-content:center;
  margin:20px;
}

.cell{
  width:100px;
  height:100px;
  background:#1c2541;
  border-radius:12px;
  font-size:40px;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  transition:.2s;
}

.cell:hover{
  background:#3a506b;
}

button{
  padding:10px 15px;
  margin:5px;
  font-size:16px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

.menu button{
  background:#5bc0be;
}

#game button{
  background:#6fffe9;
}
